<!doctype html>
<html>
<head>
  <!-- Template Header -->
  <%= erb :header %>

  <!-- Page Stylesheets/Scripts -->
  <link rel="stylesheet" href="stylesheets/backwhen.css">
</head>

<body>
  <!-- Template Navbar -->
  <%= erb :navbar %>

  <div class="wrapper">
    <div id="backwhenStrip">
      <h1>BACK WHEN</h1>
    </div>

    <div id="pictureGrid" class="grid">
        <img class="pictureGridImg" src="images/backwhen/1.jpg">
        <img class="pictureGridImg" src="images/backwhen/2.jpg">
        <img class="pictureGridImg" src="images/backwhen/3.jpg">
        <img class="pictureGridImg" src="images/backwhen/4.jpg">
        <img class="pictureGridImg" src="images/backwhen/5.jpg">
        <img class="pictureGridImg" src="images/backwhen/6.jpg">
    </div>

    <div id="descDiv"> 
      <h3 id="descTitle">'They don't make music like they used to, good thing we're bringing it back'</h3>
      <div id="description">
        <p id="descTime"> Next Event - Saturday 19th March - Club Nomad, London </p>
        <p> Back when is a movement and series of events dedicated to 
        celebrating everything Old Skool. Reliving the best memories from 
        what many people say was the best eras of clubbing, music, tv
        programmes and questionable fashion choices. </p>
        <p id="findout"> Find out more <button id="here" 
        href="https://www.facebook.com/BackWhen1/">here.</button>
        <div id="descLinks">
          <a href="https://twitter.com/teambackwhen">
            <img id="descTwitterLink" src="images/twitterlogo.png">
          </a>
          <a href="https://www.instagram.com/teambackwhen/">
            <img id="descInstagramLink" src="images/instagramlogo.png">
          </a>
        </div>
      </div>
    </div>

  </div> 

</body>
</html>
