<!doctype html>
<html>
<head>
  <!-- Template Header -->
  <%= erb :header %>

  <!-- Page Stylesheets/Scripts -->
  <link rel="stylesheet" href="stylesheets/badmanners.css">
</head>

<body>
  <!-- Template Navbar -->
  <%= erb :navbar %>

  <div class="wrapper">
    <h1 id="badmannersStrip">BAD MANNERS</h1>

    <div id="descLogo">
      <img id="badmannerslogo" src="images/badmannerslogo.jpg">
    </div>

    <div id="descDiv"> 
      <div id="description">
        <p> A new event brand launched in Loughborough in September 2016! 
        Make sure you like our page to stay up to date! It would be 
        rude not to ;-)</p>
        <p> The night you've been waiting for, where anything goes, 
        where anything can happen, a night for Bad Manners!</p>
        <p>We are joined on the decks by one of Milton Keynes finest 
        DJ's DJ DK. playing the best in R&B, HipHop, House, Funk and Old Skool!
        Check out some of his mixes 
        here:- ♪ https://www.mixcloud.com/dkkeating/</p>

        <p id="findout"> Find out more 
        <a href="https://www.facebook.com/Bad-Manners-1720234028241903/?fref=ts">
          <button id="here">here.</button>
        </a>
        <div id="descLinks">
          <a href="https://twitter.com/showstarents">
            <img id="descTwitterLink" src="images/twitterlogo.png">
          </a>
          <a href="https://www.instagram.com/badmannersevents/">
            <img id="descInstagramLink" src="images/instagramlogo.png">
          </a>
        </div>
      </div>
    </div>

  </div> 

</body>
</html>
