<!doctype html>
<html>
<head>
  <!-- Template Header -->
  <%= erb :header %>

  <!-- Page Stylesheets/Scripts -->
  <link rel="stylesheet" href="stylesheets/contact.css">
</head>

<body>
  <!-- Template Navbar -->
  <%= erb :navbar %>

  <div class="wrapper">
    <div id="contactStrip">
      <h1>CONTACT US</h1>
    </div>

    <div id="emailDiv">
      <p> For all enquiries please contact us by email: </p>
      <a href="mailto:showstarents@live.co.uk">showstarents@live.co.uk</a>
      <p> or fill in the following form: </p>
    </div>

    <div id="formDiv">
      <form id="contactForm" action="mailto:showstarents@live.co.uk" method="post" enctype="text/plain">
        Name:<br>
        <input type="text" placeholder="Full Name" name="name"><br>
        Mobile Number:<br>
        <input type="text" placeholder="Mobile Number" name="number"><br>
        Email Address:<br>
        <input type="email" placeholder="Email" name="email"><br>
        Enquiry:<br>
        <textarea id="enquiry" type="textarea" placeholder="Enquiry" name="enquiry"></textarea><br>
        <input id="sendEmail" type="submit" value="Send with Mail Client">
      </form>
    </div>

    <div id="socialLinksDiv">
      <a href="https://twitter.com/showstarents">
        <img id="twitterLink" class="socialLink" src="images/twitterlogo.png">
      </a>
      <a href="https://www.facebook.com/ShowStarEntertainments/?fref=photo">
        <img id="facebookLink" class="socialLink" src="images/facebooklogo.png">
      </a>
      <a href="https://www.instagram.com/showstarents/">
        <img id="instagramLink" class="socialLink" src="images/instagramlogo.png">
      </a>
    </div>



  </div> 

</body>
</html>
