<!doctype html>
<html>
<head>
  <!-- Template Header -->
  <%= erb :header %>

  <!-- Page Stylesheets/Scripts -->
  <link rel="stylesheet" href="stylesheets/events.css">
</head>

<body>
  <!-- Template Navbar -->
  <%= erb :navbar %>

  <!-- Template Footer -->
  <%= erb :footer %>
</body>
</html>
