<!doctype html>
<html>
<head>
  <!-- template header -->
  <%= erb :header %>

  <!-- page stylesheets/scripts -->
  <link rel="stylesheet" href="stylesheets/eventportfolio.css">
</head>

<body>
  <!-- template navbar -->
  <%= erb :navbar %>

  <div class="wrapper">
    <div id="eventportfolioStrip">
      <h1>EVENT PORTFOLIO</h1>
    </div>


  </div> 
</body>
</html>
