<!doctype html>
<html>
<head>
  <!-- template header -->
  <%= erb :header %>

  <!-- page stylesheets/scripts -->
  <link rel="stylesheet" href="stylesheets/eventportfolio.css">
</head>

<body>
  <!-- template navbar -->
  <%= erb :navbar %>

  <div class="wrapper">
    <div id="eventportfolioStrip">
      <h1>EVENT PORTFOLIO</h1>
    </div>

    <div id="descLogo">
      <img id="showstarlogo" src="images/showstarlogo.png">
    </div>
    
    <div id="descDiv">
      <div id="description">
        <p> Over the years we have also organised, promoted and managed many other 
            one off events like Summer & Winter balls, talent shows and concerts 
            as well as special events based around special dates in the calendar 
            such as Valentines Day. </p>
      </div>
    </div>

    <div id="photosDiv">
      <img class="showstarImg" src="images/eventportfolio/showstar1.jpg">
      <img class="showstarImg" src="images/eventportfolio/showstar2.jpg">
      <img class="showstarImg" src="images/eventportfolio/showstar3.jpg">
      <img class="showstarImg" src="images/eventportfolio/showstar4.jpg">
      <img class="showstarImg" src="images/eventportfolio/showstar5.jpg">
      <img class="showstarImg" src="images/eventportfolio/showstar6.jpg">
      <img class="showstarImg" src="images/eventportfolio/showstar7.jpg">
      <img class="showstarImg" src="images/eventportfolio/showstar8.jpg">
      <img class="showstarImg" src="images/eventportfolio/showstar9.jpg">
      <img class="showstarImg" src="images/eventportfolio/showstar10.jpg">
      <img class="showstarImg" src="images/eventportfolio/showstar11.jpg">
      <img class="showstarImg" src="images/eventportfolio/showstar10.jpg">
      <img class="showstarImg" src="images/eventportfolio/showstar12.jpg">
    </div>



  </div> 
</body>
</html>
