<div id="footer">
  <div id="contact">
    Contact Us At:<br>
    <a href="mailto:showstarents@live.co.uk">showstarents@live.co.uk</a>
  </div>

  <div id="socialLinks">
    <a href="https://twitter.com/showstarents"><img class="links"
      id="twitterLink"  src="images/twitterlogo.png"></a>

    <a href="https://www.facebook.com/ShowStarEntertainments/?fref=photo"><img class="links" 
      id="facebookLink" src="images/facebooklogo.png"></a>

    <a href="https://www.instagram.com/showstarents/"><img class="links"
      id="instagramLink" src="images/instagramlogo.png"></a>
  </div>
</div>


        <p> Show Star Entertainments hosts the hottest original events!
        We pride ourselves on class, innovation and always pushing the boundaries 
        to provide top quality events that cater for everyone. </p>
        <p> Show Star Entertainments is an events company that has gone from 
        strength to strength since its creation back in 2010; a group of lads 
        looked at Loughborough's nightlife and decided it needed a MASSIVE change. </p>
        <p> With events ranging from our debut event ALLURE (2010), 
        to the ever-popular MAYHEM that has over 2000 people attending. 
        Show Star Entertainments has got bigger and bigger and hosts a 
        wide range of unique one off events, we also host the very popular 
        weekly event House Party every Monday at Mansion Nightclub. </p>
        <p> Using Loughborough as a base, Show Star Entertainments have 
        also done events in Lincoln, Nottingham and London and has also
        organised formal balls, talent shows, sample sales and concerts. </p>
        <p> Make sure you keep checking the website to see what's happening 
        and keep updated with our blog for some funny stories and experiences
        from our loyal party goers and make sure you don't miss out on the 
        latest events news around the country!</p>
