<div id="footer">
  <div id="contact">
  </div>

  <div id="socialLinks">
    <a href="https://twitter.com/selected_sound5"><img class="links"
      id="twitterLink"  src="images/twitterlogo.png"></a>

    <a href="https://www.facebook.com/selectedsoundsuk/"><img class="links" 
      id="facebookLink" src="images/facebooklogo.png"></a>

    <a href="https://www.instagram.com/selected_sounds/"><img class="links"
      id="instagramLink" src="images/instagramlogo.png"></a>
  </div>
</div>
