<!doctype html>
<html>
<head>
  <!-- Template Header -->
  <%= erb :header %>

  <!-- Page Stylesheets/Scripts -->
  <link rel="stylesheet" href="stylesheets/gallery.css">
</head>

<body>
  <!-- Template Navbar -->
  <%= erb :navbar %>

  <div class="wrapper">
    <div id="galleryStrip">
      <h1>GALLERY</h1>
    </div>

    <div id="topNotice">
      <p> For the full Gallery from all our events make sure you click
      on the relevant Facebook links below and like the pages. </p>
    </div>

    <div class="eventDiv">
      <div class="eventLogoDiv">
        <img class="eventLogo" src="images/xothursdayslogo.png">
      </div>
      <img class="eventImg" src="images/gallery/xo1.jpg">
      <img class="eventImg" src="images/gallery/xo2.jpg">
      <img class="eventImg" src="images/gallery/xo3.jpg">
      <img class="eventImg" src="images/gallery/xo4.jpg">
      <img class="eventImg" src="images/gallery/xo5.jpg">
      <img class="eventImg" src="images/gallery/xo6.jpg">
      <img class="eventImg" src="images/gallery/xo7.jpg">
      <img class="eventImg" src="images/gallery/xo8.jpg">
      <p> For the full XO Thursdays gallery click 
      <a href="https://www.facebook.com/xoloughborough/">
        <button class="here">here.</button>
      </a>
    </div>

    <div class="eventDiv">
      <div class="eventLogoDiv">
        <img class="eventLogo" src="images/mayhemlogo.png">
      </div>
      <img class="eventImg" src="images/gallery/mayhem1.jpg">
      <img class="eventImg" src="images/gallery/mayhem2.jpg">
      <img class="eventImg" src="images/gallery/mayhem3.jpg">
      <img class="eventImg" src="images/gallery/mayhem4.jpg">
      <img class="eventImg" src="images/gallery/mayhem5.jpg">
      <img class="eventImg" src="images/gallery/mayhem6.jpg">
      <img class="eventImg" src="images/gallery/mayhem7.jpg">
      <img class="eventImg" src="images/gallery/mayhem8.jpg">
      <p> For all Mayhem pictures click
      <a href="https://www.facebook.com/ShowStarEntertainments/">
        <button class="here">here.</button>
      </a>
    </div>

    <div class="eventDiv">
      <div class="eventLogoDiv">
        <img class="eventLogo" src="images/playhouselogo.png">
      </div>
      <img class="eventImg" src="images/gallery/play1.jpg">
      <img class="eventImg" src="images/gallery/play2.jpg">
      <img class="eventImg" src="images/gallery/play3.jpg">
      <img class="eventImg" src="images/gallery/play4.jpg">
      <img class="eventImg" src="images/gallery/play5.jpg">
      <img class="eventImg" src="images/gallery/play6.jpg">
      <img class="eventImg" src="images/gallery/play7.jpg">
      <img class="eventImg" src="images/gallery/play8.jpg">
      <p> For the full Playhouse Gallery click
      <a href="https://www.facebook.com/ShowStarEntertainments/">
        <button class="here">here.</button>
      </a>
    </div>

    <div class="eventDiv">
      <div class="eventLogoDiv">
        <img class="eventLogo" src="images/backwhenlogo.png">
      </div>
      <img class="eventImg" src="images/gallery/back1.jpg">
      <img class="eventImg" src="images/gallery/back2.jpg">
      <img class="eventImg" src="images/gallery/back3.jpg">
      <img class="eventImg" src="images/gallery/back4.jpg">
      <img class="eventImg" src="images/gallery/back5.jpg">
      <img class="eventImg" src="images/gallery/back6.jpg">
      <img class="eventImg" src="images/gallery/back7.jpg">
      <img class="eventImg" src="images/gallery/back8.jpg">
      <p> For all photos from Back When click
      <a href="https://www.facebook.com/BackWhen1/">
        <button class="here">here.</button>
      </a>
    </div>

    <div class="eventDiv">
      <div class="eventLogoDiv">
        <img class="eventLogo" src="images/selectedsoundslogo.png">
      </div>
      <img class="eventImg" src="images/gallery/">
      <img class="eventImg" src="images/gallery/.jpg">
      <img class="eventImg" src="images/gallery/.jpg">
      <img class="eventImg" src="images/gallery/.jpg">
      <img class="eventImg" src="images/gallery/.jpg">
      <img class="eventImg" src="images/gallery/.jpg">
      <img class="eventImg" src="images/gallery/.jpg">
      <img class="eventImg" src="images/gallery/.jpg">
      <p> For all photos from Selected Sounds click
      <a href="https://www.facebook.com/selectedsoundsuk/">
        <button class="here">here.</button>
      </a>
    </div>



  </div> 
</body>
</html>
