<div id="navbar" class="grid">
  <div class="unit half">
    <img id="showstarlogo" src="images/showstarlogo.png">
  </div>
  <div id="links" class="unit half">
     <a href="/">Home</a>
     <a href="/events">Events</a>
     <a href="/gallery">Gallery</a>
     <a href="/videos">Videos</a>
     <a href="/plan">Plan your Party</a>
     <a href="/music">Music</a>
     <a href="/contact">Contact</a>
  </div>
</div>
