<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">

<title>Show Star Entertainments</title>

<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Montserrat:400,700">
<link rel="stylesheet" href="stylesheets/gridism.css">
<link rel="stylesheet" href="stylesheets/footer.css">
<link rel="stylesheet" href="stylesheets/navbar.css">
