<!doctype html>
<html>
<head>
  <!-- Template Header -->
  <%= erb :header %>

  <!-- Page Stylesheets/Scripts -->
  <link rel="stylesheet" href="stylesheets/index.css">
</head>

<body>
  <!-- Template Navbar -->
  <%= erb :navbar %>

  <div class="wrapper">

    <div id="leftContent">
      <div id="logoDiv">
        <img id="aboutLogo" src="images/showstarlogo.png">
      </div>

      <div id="social">
        <h5 id="socialTitle">SOCIAL MEDIA</h5>
        <a href="https://twitter.com/showstarents">
          <img id="twitterLink" class="socialLink" src="images/twitterlogo.png">
        </a>
        <a href="https://www.facebook.com/ShowStarEntertainments/?fref=photo">
          <img id="facebookLink" class="socialLink" src="images/facebooklogo.png">
        </a>
        <a href="https://www.instagram.com/showstarents/">
          <img id="instagramLink" class="socialLink" src="images/instagramlogo.png">
        </a>
      </div>

      <div id="about">
        <h5 id="aboutTitle"> ABOUT US </h5>
        <p> Show Star Entertainments hosts the hottest original events!
        We pride ourselves on class, innovation and always pushing the
        boundaries to provide top quality events that cater for everyone. </p>
        <p> We believe we have the formula for success by combining
        innovative ideas with forward planning, hard work and solid networking.
        With events ranging from 300- 3000 people, each event is promoted
        as if it were a launch night and the hard work and skill that goes
        into filling each event is replicated by the delivery of the top
        class events which are associated with us. </p>
        <p> Show Star Entertainments has grown each year; hosting a wide range
        of unique one off events and also hosting two very popular weekly 
        nights. Using Loughborough as a base, Show Star Entertainments has 
        also done events in Lincoln, Nottingham and London and has organized 
        formal balls, talent shows, sample sales and concerts. </p>
      </div>
    
      <div id="flyerDiv">
        <img id="flyer" src="images/playhouseflyer.jpg">
      </div>

    </div>

    <div id="rightContent">
      <iframe id="video" src="https://www.youtube.com/embed/znGBlw1pYqc?autoplay=1"
        frameborder="0" allowfullscreen></iframe>

      <div id="eventsStrip">
        Events
      </div>

      <div id="eventsBox">
        <div id="playhouseBox" class="eventBox">
          <a href="/playhouse">
            <img class="eventsImg" src="images/indexplayhouselogo2.png">
            Playhouse
          </a>
        </div>

        <div id="xothursdaysBox" class="eventBox">
          <a href="/xothursdays">
            <img class="eventsImg" src="images/indexxothursdayslogo2.png">
            XO Thursdays
          </a>
        </div>

        <div id="mayhemBox" class="eventBox">
          <a href="/mayhem">
            <img class="eventsImg" src="images/indexmayhemlogo2.png">
            Mayhem
          </a>
        </div>

        <div id="backwhenBox" class="eventBox">
          <a href="/backwhen">
            <img class="eventsImg" src="images/indexbackwhenlogo2.png">
            Back When
          </a>
        </div>

        <div id="selectedsoundsBox" class="eventBox">
          <a href="/selectedsounds">
            <img class="eventsImg" src="images/indexselectedsoundslogo3.jpg">
            Selected Sounds
          </a>
        </div>

        <div id="eventportfolioBox" class="eventBox">
          <img class="eventsImg" src="images/indexshowstarlogo2.png">
          Event Portfolio
        </div>
      </div>

      <div id="upcomingStrip">
        Upcoming Events
      </div>

      <div id="upcomingDiv" class="grid">
        <div class="unit one-third">
          <h3> Playhouse </h3>
        </div>
        <div class="unit one-third">
          <h3> XO Thursdays </h3>
        </div>
        <div class="unit one-third">
          <h3> Mayhem </h3>
        </div>
      </div>

    </div>

  </div>
  
</body>
</html>
