<!doctype html>
<html>
<head>
  <!-- Template Header -->
  <%= erb :header %>

  <!-- Page Stylesheets/Scripts -->
  <link rel="stylesheet" href="stylesheets/music.css">
</head>

<body>
  <!-- Template Navbar -->
  <%= erb :navbar %>

  <div class="wrapper">
    <div id="musicStrip">
      <h1>MUSIC</h1>
    </div>
    <iframe class="musicFrame" width="100%" height="180" src="https://www.mixcloud.com/widget/iframe/?feed=https%3A%2F%2Fwww.mixcloud.com%2FDJYEMI%2Fdjyemi-selected-sounds-22nd-october-promo-mix-djyemi%2F&hide_cover=1" frameborder="0"></iframe>

    <iframe class="musicFrame" width="100%" height="180" src="https://www.mixcloud.com/widget/iframe/?feed=https%3A%2F%2Fwww.mixcloud.com%2Fdkkeating%2Fbad-manners-freshers-mix-2016%2F&hide_cover=1" frameborder="0"></iframe>

    <iframe class="musicFrame" width="100%" height="180" src="https://www.mixcloud.com/widget/iframe/?feed=https%3A%2F%2Fwww.mixcloud.com%2FDJOneF%2Fdjonef-this-is-2017-xo-thursdays%2F&hide_cover=1" frameborder="0"></iframe>

    <iframe class="musicFrame" width="100%" height="180" src="https://www.mixcloud.com/widget/iframe/?feed=https%3A%2F%2Fwww.mixcloud.com%2FDJOneF%2Fdjonef-xo-thursdays-freshers-2016-xolufbra%2F&hide_cover=1" frameborder="0"></iframe>

    <iframe class="musicFrame" width="100%" height="180" src="https://www.mixcloud.com/widget/iframe/?feed=https%3A%2F%2Fwww.mixcloud.com%2FDJOneF%2Fdj-onef-xo-thursdays-2016-mix-pt1%2F&hide_cover=1&light=0" frameborder="0"></iframe>s

    <iframe class="musicFrame" width="100%" height="180" src="https://www.mixcloud.com/widget/iframe/?feed=https%3A%2F%2Fwww.mixcloud.com%2FDJOneF%2Fdj-onef-xo-thursdays-2016-mix-pt1%2F&hide_cover=1&light=0" frameborder="0"></iframe>

    <iframe class="musicFrame" width="100%" height="180" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/250653978&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>  

    <iframe class="musicFrame" src="https://www.mixcloud.com/widget/iframe/?embed_type=widget_standard&amp;embed_uuid=1c097b70-29a5-468a-9a06-f8dd15f1b198&amp;feed=https%3A%2F%2Fwww.mixcloud.com%2FDJOneF%2Fdj-onef-vocal-house-recorded-live-xo-thursdays%2F&amp;hide_cover=1&amp;hide_tracklist=1&amp;replace=0" frameborder="0" height="180" width="100%"></iframe>

    <iframe class="musicFrame" src="https://www.mixcloud.com/widget/iframe/?embed_type=widget_standard&amp;embed_uuid=36d89631-5613-4218-87aa-0a4890da1412&amp;feed=https%3A%2F%2Fwww.mixcloud.com%2FDJOneF%2Fdj-onef-xo-future-rb-classics-pt1%2F&amp;hide_cover=1&amp;hide_tracklist=1&amp;replace=0" frameborder="0" height="180" width="100%"></iframe>  

    <iframe class="musicFrame" src="https://www.mixcloud.com/widget/iframe/?embed_type=widget_standard&amp;embed_uuid=e30b3b40-fe87-4abd-a1dd-1537cf0ba0e8&amp;feed=https%3A%2F%2Fwww.mixcloud.com%2FDJOneF%2Fback-when-the-launch-club-nomad-london-rb-promo-mix%2F&amp;hide_cover=1&amp;hide_tracklist=1&amp;replace=0" frameborder="0" height="180" width="100%"></iframe>

    <iframe class="musicFrame" src="https://www.mixcloud.com/widget/iframe/?embed_type=widget_standard&amp;embed_uuid=bc1a15a8-4e41-461b-9cb3-4436a169f66d&amp;feed=https%3A%2F%2Fwww.mixcloud.com%2FDJOneF%2Fback-when-old-school-housegaragedisco-mix%2F&amp;hide_cover=1&amp;hide_tracklist=1&amp;replace=0" frameborder="0" height="180" width="100%"></iframe>
  </div>
</body>
</html>
