<div class="navbar grid">

  <div class="unit whole"> 
    <a class="nav-link" id="a-loughborough" href="/loughborough">Loughborough</a>
    <a class="nav-link" id="a-leeds" href="/leeds">Leeds</a>
    <a class="nav-link" id="a-tickets" href="/tickets">Tickets</a>
    <a class="nav-link" id="a-gallery" href="/gallery">Gallery</a>
    <a class="nav-link" id="a-jobs" href="/jobs">Jobs</a>
    <a class="nav-link" id="a-contact" href="/contact">Contact</a>
    <a class="nav-link" id="a-music" href="/music">Music</a>
    <a class="nav-link" id="a-home" href="/">Home</a>
  </div>

</div>
