<div class=grid">
  <div id="navbarlogoDiv" class="unit half">
  </div>
  <div id="links" class="unit half">
    <ul>
      <li><a id="a-home" href="/">Home</a></li>
      <li><a id="a-gallery" href="/gallery">Gallery</a></li>
      <li><a id="a-plan" href="/planyourparty">Plan your Party</a></li>
      <li><a id="a-music" href="/music">Music</a></li>
      <li><a id="a-contact" href="/contact">Contact</a></li>
    </ul>
  </div>
</div>
