
<div id="topnavbar" class="grid">

  <div class="unit whole"> 
    <a class="navLink" id="a-home" href="/">Home</a>
    <a class="navLink" id="a-news" href="/news">News</a>
    <a class="navLink" id="a-gallery" href="/gallery">Gallery</a>
    <a class="navLink" id="a-music" href="/music">Music</a>
    <a class="navLink" id="a-plan" href="/planyourparty">Plan your Party</a>
    <a class="navLink" id="a-contact" href="/contact">Contact</a>
  </div>

</div>



