<!doctype html>
<html>
<head>
  <!-- Template Header -->
  <%= erb :header %>

  <!-- Page Stylesheets/Scripts -->
  <link rel="stylesheet" href="stylesheets/badmanners.css">
</head>

<body>
  <!-- Template Navbar -->
  <%= erb :navbar %>

  <div class="wrapper">
    <h1 id="badmannersStrip">BAD MANNERS</h1>

    <div id="descLogo">
      <img id="badmannerslogo" src="images/badmannerslogo.jpg">
    </div>

    <div id="descDiv"> 
      <div id="description">
        <p id="descTime"> New Event Launching in September </p>
        <p id="findout"> Find out more 
        <a href="https://www.facebook.com/Bad-Manners-1720234028241903/?fref=ts">
          <button id="here">here.</button>
        </a>
        <div id="descLinks">
          <a href="https://twitter.com/badmannerslboro">
            <img id="descTwitterLink" src="images/twitterlogo.png">
          </a>
          <a href="https://www.instagram.com/badmannersevents/">
            <img id="descInstagramLink" src="images/instagramlogo.png">
          </a>
        </div>
      </div>
    </div>

  </div> 

</body>
</html>
