<!doctype html>
<html>
<head>
  <!-- Template Header -->
  <%= erb :header %>

  <!-- Page Stylesheets/Scripts -->
  <link rel="stylesheet" href="stylesheets/selectedsounds.css">
</head>

<body>
  <!-- Template Navbar -->
  <%= erb :navbar %>

  <div class="wrapper">
    <h1 id="selectedsoundsStrip">SELECTED SOUNDS</h1>

    <iframe id="video" width="100%" height="400" 
      src="https://www.youtube.com/embed/lOpEAoSoVvk?autoplay=1" frameborder="0" 
      allowfullscreen></iframe>

    <div id="descLogo">
      <img id="selectedsoundslogo" src="images/selectedsoundslogo.png">
    </div>

    <div id="descDiv"> 
      <h3 id="descTitle">'Introducing Selected Sounds'</h3>
      <div id="description">
        <p> In March 2016, Show Star entertainments launched the newest brand 
            in our growing portfolio and invited some of our biggest acts in 
            the UK down to perform. </p>
        <p> We Curate, Host, and Hype </p>
        <p> We give the people what they want </p>
        <p> We are Selected Sounds... </p>
        <p> 2016, the journey begins... </p>
        <p> Keep your ears peeled... </p>
        <p id="findout"> Find out more
        <a href="https://www.facebook.com/selectedsoundsuk/">
          <button id="here">here.</button>
        </a>
        <div id="descLinks">
          <a href="https://twitter.com/selected_sound5">
            <img id="descTwitterLink" src="images/twitterlogo.png">
          </a>
          <a href="https://www.instagram.com/selected_sounds/">
            <img id="descInstagramLink" src="images/instagramlogo.png">
          </a>
        </div>
      </div>
    </div>

  </div> 
</body>
</html>
