<!doctype html>
<html>
<head>
  <!-- Template Header -->
  <%= erb :header %>

  <!-- Page Stylesheets/Scripts -->
  <link rel="stylesheet" href="stylesheets/selectedsounds.css">
</head>

<body>
  <!-- Template Navbar -->
  <%= erb :navbar %>

  <div class="wrapper">
    <div id="selectedsoundsStrip">
      <h1>SELECTED SOUNDS</h1>
    </div>

    <div id="descDiv"> 
      <div id="descLogo">
        <img id="xothursdayslogo" src="images/selectedsoundslogo.png">
      </div>
      <h3 id="descTitle">'We Curate, Host and Hype'</h3>
      <div id="description">
        <p> We give the people what they want </p>
        <p> We are Selected Sounds... </p>
        <p> 2016, the journey begins... </p>
        <p> Keep you ears peeled... </p>
        <p id="findout"> Find out more
        <a href="https://www.facebook.com/selectedsoundsuk/">
          <button id="here">here.</button>
        </a>
        <div id="descLinks">
          <a href="https://twitter.com/selected_sound5">
            <img id="descTwitterLink" src="images/twitterlogo.png">
          </a>
          <a href="https://www.instagram.com/selected_sounds/">
            <img id="descInstagramLink" src="images/instagramlogo.png">
          </a>
        </div>
      </div>
    </div>

  </div> 
</body>
</html>
