<!doctype html>
<html>
<head>
  <!-- Template Header -->
  <%= erb :header %>

  <!-- Page Stylesheets/Scripts -->
  <link rel="stylesheet" href="stylesheets/xothursdays.css">
</head>

<body>
  <!-- Template Navbar -->
  <%= erb :navbar %>

  <div class="wrapper">
    <h1 id="xothursdaysStrip">XO THURSDAYS</h1>

    <iframe id="video" width="100%" height="400" 
      src="https://www.youtube.com/embed/5_3hGpcXWjg?autoplay=1" frameborder="0" 
      allowfullscreen></iframe>

    <div id="descLogo">
      <img id="xothursdayslogo" src="images/xothursdayslogo.png">
    </div>

    <img id="xoflyer" src="images/xoflyer.jpg">

    <div id="descDiv"> 
      <h3 id="descTitle">'Be Part of the Revolution'</h3>
      <div id="description">
        <p id="descTime"> Every Thursday at Vodka Revolution </p>
        <p> The concept of this night is to provide partygoers with a weekly
        night which differs from what they see elsewhere in Loughborough.
        This night is based around Glitz and Glamour, a night where people 
        feel that they can wear a dress or a nice shirt/blazer without feeling
        out of place. This does not mean that there is a strict dress code,
        fancy dress and casual dress is also welcome but we bring elements
        of the nightlife of bigger cities to Loughborough. This includes 
        things like Saxophonists, Bongo Players, VIP table packages and
        table hostesses.  </p>
        <p id="findout"> Find out more
        <a href="https://www.facebook.com/xoloughborough/?fref=ts">
          <button id="here">here.</button>
        </a>

        <div id="descLinks">
          <a href="https://twitter.com/xolufbra">
            <img id="descTwitterLink" src="images/twitterlogo.png">
          </a>
          <a href="https://www.instagram.com/xo_thursdays/">
            <img id="descInstagramLink" src="images/instagramlogo.png">
          </a>
        </div>

      </div>
    </div>

    <iframe id="video" width="100%" height="400" 
      src="https://www.youtube.com/embed/pwBAvv73MGI" frameborder="0" 
      allowfullscreen></iframe>


  </div> 

</body>
</html>
