.wrapper {
  clear: both;
  margin: 0 auto;
  padding-top: 20px;
  width: 960px;
  margin-top: 50px;
}

a {
  color: inherit;
  text-decoration: none;
}

#contactStrip {
  height: 60px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 40px;
  text-align: center;
}

#contactStrip h1 {
  background-color: #2d2d2d;
  padding: 20px;
}

#emailDiv {
  background-color: #222;
  font-size: 20px;
  padding: 20px;
  text-align: center;
  margin-bottom: 20px;
}

#emailDiv a {
  background-color: #2d2d2d;
  padding: 10px;
}

  #emailDiv a:hover {
    background-color: #ddd;
    color: #2d2d2d;
  }

#formDiv {
  background-color: #222;
  font-size: 30px;
  padding: 20px;
  text-align: center;
}

#contactForm input {
  font-size: 22px;
  height: 40px;
  margin-bottom: 20px;
  width: 30%;
}

#enquiry {
  font-size: 18px;
  height: 200px;
  margin-bottom: 20px;
  width: 50%;
}

#sendEmail {
  background-color: #3d3d3d;
  color: #fff;
  border: none;
  margin-bottom: none;
  width: 20%
}

  #sendEmail:hover {
    background-color: #fff;
    color: #2d2d2d;
  }


@media screen and (max-width: 480px) {
  .wrapper {
    width: 90%;
  }

  #contactForm input {
    width: 80%;
  }

  #enquiry {
    width: 80%; 
  }
}
