body {
  background-color: #111;
  color: #ddd;
  font-family: 'Montserrat';
  margin: 0;
}

#footer {
  background-color: #2d2d2d;
  height: 50px;
  width: 100%;
  bottom: 0;
}

.links {
  float: right;
  height: 30px;
  width: 30px;
  padding: 10px;
}

  #facebookLink:hover {
    background-color: #283e79;
  }

  #instagramLink:hover {
    background-color: #264a6a;
  }

  #twitterLink:hover {
    background-color: #2daae2;
  }
