body {
  background-color: #111;
  color: #ddd;
  font-family: 'Montserrat';
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

#social {
  color: #ddd;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  top: 0;
}

#socialTitle {
  background-color: #2d2d2d;
  font-size: 16px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  width: 100%;
}

.socialLink {
  height: 102.5px;
  background-color: #2d2d2d;
}

  #facebookLink:hover {
    background-color: #283e79;
  }

  #instagramLink:hover {
    background-color: #264a6a;
  }

  #twitterLink:hover {
    background-color: #2daae2;
  }


#about {
  background-color: #222;
  color: #ddd;
  width: 100%;
  padding-bottom: 20px;
  margin-bottom: 20px;
  text-align: left;
  top: 0;
}

#about p {
  font-size: 12px;
  font-weight: 400;
  padding-left: 7px;
  padding-right: 3px;
}

#aboutTitle {
  background-color: #2d2d2d;
  font-size: 16px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  width: 100%;
}

#aboutLogo {
  width: 100%;
}

#video {
  left: 0;
  right: 0;
  height: 300px;
  width: 100%;
}

#eventsStrip {
  background-color: #CC324B;
  height: 30px;
  padding-top: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

#eventsBox {
  padding-top: 20px;
  width: 100%;
  text-align: center;
}
.eventBox {
  background-color: #2d2d2d;
  border-bottom: solid;
  border-width: 2px;
  display: inline-block;
  font-size: 20px;
  margin: 10px;
  margin-bottom: 25px;
  padding-bottom: 10px;
  left: 0;
  right: 0;
  width: 28%;
  text-align: center;
}

  #playhouseBox {
    border-color: #DD4B39;
  }

    #playhouseBox:hover {
      background-color: #DD4B39;
    }

  #xothursdaysBox {
    border-color: #11A8AB;
  }

    #xothursdaysBox:hover {
      background-color: #11A8AB;
    }

  #mayhemBox {
    border-color: #FCB150;
  }

    #mayhemBox:hover {
      background-color: #FCB150;
    }

  #backwhenBox {
    border-color: #0077B5;
  }

    #backwhenBox:hover {
      background-color: #0077B5;
    }

  #selectedsoundsBox {
    border-color: #47177d;
  }

    #selectedsoundsBox:hover {
      background-color: #47177d;
    }

  #eventportfolioBox {
    border-color: #198c19;
  }

    #eventportfolioBox:hover {
      background-color: #198c19;
    }

.eventsImg {
  width: 100%;
  margin: 0;
  padding: 0;
} 

.wrapper {
  clear: both;
  margin: 0 auto;
  padding-top: 20px;
  width: 960px;
}

#leftContent {
  float: left; 
  margin: 0;
  padding-right: 5px;
  width: 33%;
}

#rightContent {
  float: right;
  margin: 0;
  width: 65%;
}

@media screen and (max-width: 480px) {
  .wrapper {
    width: 90%;
  }  

  .eventBox {
    width: 80%;
  }

  #leftContent {
    float: none;
    width: 100%
  }

  #rightContent {
    float: none;
    width: 100%
  }

  #eventsStrip {
    width: 100%;
  }

  .socialLink {
    width: 30%;
  }
}
