body {
  color: #ddd;
  font-family: 'Montserrat';
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}



/* Main Page Div Styling */
.wrapper {
  clear: both;
  margin: 0 auto;
  margin-top: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 960px;
}

#leftContent {
  float: left; 
  margin: 0;
  margin-top: 120px;
  padding-right: 5px;
  width: 33%;
}

#rightContent {
  float: right;
  margin: 0;
  width: 65%;
}
/* Main Page Div Styling End */



/* Left Content */
#logoDiv {
  background: #222;
  border: solid;
  border-color: #2d2d2d;
  border-width: 2px;
  margin: 0 auto;
  margin-bottom: 20px;
  text-align: center;
  width: 100%;
}

  #aboutLogo {
    width: 60%;
  }

#social {
  background-color: #222;
  border: solid;
  border-color: #2d2d2d;
  border-width: 2px;
  color: #ddd;
  margin: 0 auto;
  margin-bottom: 20px;
  padding-bottom: 20px;
  text-align: center;
  top: 0;
  width: 100%;
}

#socialTitle {
  background-color: #2d2d2d;
  font-size: 16px;
  margin: 0;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  width: 100%;
}

.socialLink {
  border: solid;
  border-color: #000;
  border-width: 5px;
  width: 28%;
}

  #facebookLink {
    background-color: #283e79;
  }
    #facebookLink:hover {
      border: solid;
      border-width: 5px;
      border-color: #283e79;
    }

  #instagramLink {
    background-color: #264a6a;
  }
    #instagramLink:hover {
      border: solid;
      border-width: 5px;
      border-color: #264a6a;
    }

  #twitterLink {
    background-color: #2daae2;
  }
    #twitterLink:hover {
      border: solid;
      border-width: 5px;
      border-color: #2daae2;
    }

#about {
  background-color: #222;
  border: solid;
  border-width: 2px;
  border-color: #2d2d2d;
  color: #ddd;
  width: 100%;
  padding-bottom: 20px;
  margin-bottom: 10px;
  text-align: left;
  top: 0;
}

#about p {
  font-size: 12px;
  font-weight: 400;
  padding-left: 7px;
  padding-right: 3px;
}

#aboutTitle {
  top: 0;
  background-color: #2d2d2d;
  margin: 0;
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  width: 100%;
}

#flyerDiv {
  margin-top: 25px;
  margin-bottom: 25px;
  width: 100%;
}

  #playflyer {
    width: 100%;
  }

  #xoflyer {
    margin-top: 25px;
    width: 100%;
  }
/* Left Content End */


/* Right Content */
#video {
  left: 0;
  right: 0;
  height: 300px;
  width: 100%;
}

#eventsStrip {
  background-color: #FA4832;
  height: 30px;
  padding-top: 10px;
  margin-top: 10px;
  text-align: center;
}

#eventsBox {
  background-color: #222;
  margin-bottom: 10px;
  margin-top: 10px;
  padding-bottom: 20px;
  padding-top: 20px;
  text-align: center;
  width: 99%;
}
.eventBox {
  background-color: #2d2d2d;
  border-bottom: solid;
  border-width: 2px;
  display: inline-block;
  font-size: 20px;
  left: 0;
  margin: 10px;
  margin-bottom: 15px;
  padding-bottom: 10px;
  right: 0;
  text-align: center;
  width: 28%;
}

  #badmannersBox {
    border-color: #0684E5;
  }

    #badmannersBox:hover {
      background-color: #0684E5;
    }

  #xothursdaysBox {
    border-color: #00E885;
  }

    #xothursdaysBox:hover {
      background-color: #00E885;
      color: #2d2d2d;
    }

  #mayhemBox {
    border-color: #FA3434;
  }

    #mayhemBox:hover {
      background-color: #FA3434;
    }

  #backwhenBox {
    border-color: #D02C86;
  }

    #backwhenBox:hover {
      background-color: #D02C86;
    }

  #selectedsoundsBox {
    border-color: #4E1487;
  }

    #selectedsoundsBox:hover {
      background-color: #4E1487;
    }

  #eventportfolioBox {
    border-color: #FE9201;
  }

    #eventportfolioBox:hover {
      background-color: #FE9201;
    }

.eventsImg {
  width: 100%;
  margin: 0;
  padding: 0;
} 

#upcomingStrip {
  background-color: #FA4832;
  height: 30px;
  padding-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

#upcomingDiv {
  margin: 0 auto;
  margin-bottom: 50px;
  text-align: center;
  overflow: hidden;
  height: 100%;
  width: 100%;
}
  
  .fb-div {
    display: flex;
  }
    .fb-page {
      flex:1;
      margin: 2.5px;
    }

@media screen and (max-width: 480px) {
  .wrapper {
    width: 90%;
  }  

  .eventBox {
    margin: 5px;
    font-size: 12px;
    width: 28%;
  }

  #about {
    width: 98%
  }

  #leftContent {
    margin-top: 0;
    float: none;
    width: 100%
  }

  #social {
    height: 100%;
    padding-bottom: 10px;
  }

  #rightContent {
    float: none;
    width: 100%
  }

  #eventsStrip {
    width: 100%;
  }

  .socialLink {
    width: 20%;
  }

  #upcomingStrip {
    margin-top: 20px;
  }
  
  .fb-div {
    flex-direction: column;
  } 
  .fb-page {
    width: 100%:
  }

