.wrapper {
  clear: both;
  margin: 0 auto;
  width: 960px;
  padding-top: 20px;
  margin-top: 50px;
  overflow: hidden;
  padding-bottom: 50px;
}

a {
  color: inherit;
  text-decoration: none;
}

#mayhemStrip {
  background-color: #FA3434;
  color: #2d2d2d;
  padding-top: 20px;
  height: 60px;
  width: 100%;
  text-align: center;
}

#video {
  margin-top: 40px;
}

#descDiv {
  background-color: #222;
  width: 100%;
}

#descLogo {
  text-align: center;
  background-color: none;
  padding: 10px;
  margin-bottom: 0;
}

#mayhemlogo {
  width: 30%;
}

#description {
  width: 100%;
}

  #description p {
    padding: 40px;
  }

#descTime {
  font-size: 18px;
  text-align: center;
}

#findout {
  font-size: 18px;
  text-align: center;
}

#here {
  background-color: #FA3434;
  color: #2d2d2d;
  border: none;
  font-family: inherit;
  font-size: inherit;
  padding: 5px;
}

  #here:hover {
    background-color: #fff;
    color: #111;
  }

#descLinks {
  width: 100%;
  padding: 20px;
  text-align: center;
}

#descTwitterLink {
  background-color: #2d2d2d;
  height: 100px;
  width: 100px;
}

  #descTwitterLink:hover {
    background-color: #2daae2;
  }

#descInstagramLink {
  background-color: #2d2d2d;
  height: 100px;
  width: 100px;
}

  #descInstagramLink:hover {
    background-color: #264a6a;
  }

#videoGrid {
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
}

@media screen and (max-width: 480px) {
  .wrapper {
    width: 90%;
  }

  #mayhemlogo {
    width: 70%;
  }
}
