body {
  background-color: #111;
  background-size: 100%;
  background-repeat: repeat;
}

#topnavbar {
  text-align: center;
  margin: 0 auto;
}

ul {
  background-color: #222;
  border-bottom: solid;
  border-width: 2px;
  border-color: #2d2d2d;
  list-style-type: none;
  text-align: center;
  padding-left: 35%;
  margin: 0 auto;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: #ddd;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#a-home:hover {
  background-color: #DD4B39;
}

#a-gallery:hover {
  background-color: #11ABAB;
}

#a-plan:hover {
  background-color: #FCB150;
}

#a-upcoming:hover {
  background-color: #0077B5;
}

#a-music:hover {
  background-color: #47177D;
}

#a-contact:hover {
  background-color: #79c879;
}

@media screen and (max-width: 480px) {
  #topnavbar {
    width: 100%;
  }

  li a {
    font-size: 12px;
    padding: 10px;
    word-spacing: 2px;
  }
}
