.wrapper {
  clear: both;
  margin: 0 auto;
  width: 960px;
  padding-top: 20px;
  margin-top: 50px;
  overflow: hidden;
  padding-bottom: 50px;
}

a {
  color: inherit;
  text-decoration: none;
}

#xothursdaysStrip {
  background-color: #00E885;
  padding-top: 20px;
  height: 60px;
  width: 100%;
  margin: 20 auto;
  text-align: center;
}

#video {
  margin-top: 40px;
}

#descDiv {
  width: 70%;
  float: right;
}

#descLogo {
  text-align: center;
  background-color: none;
  padding: 10px;
  margin-bottom: 0;
}

  #xothursdayslogo {
    width: 30%;
  }

  #xoflyer {
    float: left;
    padding: 20px;
    width: 25%;
  }

#descTitle {
  background-color: #2d2d2d;
  text-align: center;
  padding: 10px;
  margin-bottom: 0;
}

#description {
  padding-top: 1px;
  background-color: #222;
  width: 100%;
}

  #description p {
    padding: 10px;
  }

#descTime {
  font-size: 18px;
  text-align: center;
}

#findout {
  font-size: 18px;
  text-align: center;
}

#here {
  background-color: #00E885;
  color #ddd;
  border: none;
  font-family: inherit;
  font-size: inherit;
  padding: 5px;
}

  #here:hover {
    background-color: #fff;
    color: #111;
  }

#descLinks {
  width: 100%;
  padding: 20px;
}

#descTwitterLink {
  background-color: #2d2d2d;
  height: 50px;
  width: 50px;
}

  #descTwitterLink:hover {
    background-color: #2daae2;
  }

#descInstagramLink {
  background-color: #2d2d2d;
  height: 50px;
  width: 50px;
}

  #descInstagramLink:hover {
    background-color: #264a6a;
  }

@media screen and (max-width: 480px) {
  .wrapper {
    width: 90%;
  }

  #xoflyer {
    text-align: center;
    float: none;
    padding: 0;
    width: 100%;
  }

  #descDiv {
    float: none;
    width: 100%;
  }

  #xothursdayslogo {
    width: 70%;
  }
}
