body {
  background-color: #111;
  color: #fff;
  font-family: 'Montserrat';
  margin: 0;
}

#video {
  border: solid;
  border-color: #000;
  border-width: 20px;
}

.eventBox {
  background-color: #2d2d2d;
  height: 50px;
  width: 100px;
  padding-top: 5px;
}
